@page "/"

<PageTitle>Index</PageTitle>

<h1>SK Connector - Demo Client App</h1>

<p>This is a Sample Client Application to Demonstrate the "AI Jumpstart Kit". It functions as a Front End to the SK Connector API.</p>

